h1 Супер чат
h3 Пожалуйства авторизуйтесь
form(class="auth-form")
	label(class="auth-form__label") Email
	input(type="text" palceholder="Email" name="user-email" class="auth-form__input")
	label(class="auth-form__label") Password
	input(type="password" palceholder="Password" name="user-password" class="auth-form__input")
	input(type="submit" class="button js-login" name="enter" value="Войти")
	input(type="submit" class="button js-register button-outline" name="register" value="Регистрация")